body 
{
    background-color: black;
    color: white;
    margin: 0; 
}
#logo 
{
    position: relative;
    top: 28px;
    left: 425px;
    width: 520px;
    height: 100px;

}

#bande_logo 
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 1349px;
    height: 200px;
}

#banniere 
{
    width: 923px;
    height: 150px;
    left: 230px;
    position: absolute;
}


ul.menu_horizontal {  /*Ici , c'est ma configuration, à vous de la changer */
    position: relative;
    width: 1318px;
    top: 63px;
    left: 8px;
    text-align: center;
    height: 44px;
    list-style-type: none;
   border: 1px solid black;
    
}



ul.menu_horizontal li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding : 0 1em; /* Pour espacer les boutons entre eux */
    }
        
li.bouton_gauche {
    float : left;
    }


    button.accueil 
    {
        width: 84px;
        height: 35px;
        background-color: black;
        color: white;
        border: none;
    }
    button#deconnexion 
    {
        width: 127px;
        height: 35px;
        background-color: black;
        color: white;
        border: none;
    }
    
    #deconnexion:active 
    {
        background-color: white;
        color: black;
    }
    #deconnexion:hover
    {
        background-color: white;
        color: black;
    }
    button:hover{
        background-color: white;
        font-weight: bold;
        color: black;
    }
    .accueil:active
    {
        background-color: white;
        color: black;
    }
    .accueil:hover
    {
    
        background-color: white;
        color: black;
    }
    
    button.homme 
    {
        width: 84px;
        height: 35px;
        background-color: black;
        color: white;
        border: none;
    }
    
    .homme:active 
    {
        background-color: white;
        color: black;
    }
    .homme:hover
    {
        background-color: white;
        color: black;
    }
    
    button.femme
    {
        width: 84px;
        height: 35px;
        background-color: black;
        color: white;
        border: none;
    }
    
    .femme:active 
    {
        background-color: white;
        color: black;
    }
    .femme:hover
    {
        background-color: white;
        color: black;
    }
    
    button.enfants 
    {
        width: 84px;
        height: 35px;
        background-color: black;
        color: white;
        border: none;
    }
    
    .enfants:active 
    {
        background-color: white;
        color: black;
    }
    .enfants:hover
    {
        background-color: white;
        color: black;
        
    }
    
    button.panier 
    {
        width: 84px;
        height: 35px;
        background-color: black;
        color: white;
        border: none;
    }
    
    .panier:active 
    {
        background-color: white;
        color: black;
    }
    .panier:hover
    {
        background-color: white;
        color: black;
    }

    button#seconnecter 
    {
        width: 162px;
        height: 35px;
        background-color: white;
        font-weight: bold;
        color: black;
        border: none;
    }
    
    #seconnecter:active 
    {
        background-color: white;
        color: black;
    }
    #seconnecter:hover
    {
        background-color: white;
        color: black;
    }
    a
    {
        color: white;
    }
    
    a:hover
    {
        color: black;
    }
    
    a#seconnecter
    {
        color: black;
    }
    
    #bouton 
    {
        width: 227px;
        height: 57px;
        background-color: black;
        color: white;
        border: none;
    }
    
    #bouton:active 
    {
        background-color: white;
        color: black;
    }
    #bouton:hover
    {
        background-color: white;
        color: black;
    }
hr
    {
        color: white;
        top: 745px;
        position: absolute;
        left: 0;
        width: 1347px;
    }
    
.title 
{
    position: absolute;
    top: 251px;
    left: 525px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 44px;
    color: #A39D9D;
    background-color: black;
    width: 349px;
    border: 2px solid BLACK ;
}

.titre1
{
    position: absolute;
    top: 35px;
    left: 36px;
    width: 393px;
    text-align: center;
    color: white;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titre2
{
    position: absolute;
    top: 35px;
    left: 361px;
    width: 393px;
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titre3
{
    position: absolute;
    top: 35px;
    left: 676px;
    width: 393px;
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titre4
{
    position: absolute;
    top: 35px;
    left: 982px;
    width: 393px;
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#categorie
{
    position: relative;
    top: 272px;
    left: 450px;
    text-align: center;
    height: 81px;
    color: #A39D9D  ;
    background-color: #363434 ;
    width: 430px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #363434;
}

#bandecategories 
{
    position: absolute;
    top: 951px;
    left: 0px;
    height: 295px;
    color: #A39D9D;
    background-color: /*#363434 */ rgba(37, 26, 26, 0.96);
    width: 1344px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #363434;
}


h2
{
    margin-top: 6px;
}

.tshirt 
{
    position: relative;
    top: 80px;
    left: 158px;
    height: 100px;
    width: 100px;
}

.jeans 
{
    position: absolute;
    top: 80px;
    left: 482px;
    height: 100px;
    width: 100px;
}

.sweat 
{
    position: absolute;
    top: 80px;
    left: 793px;
    height: 100px;
    width: 100px;
}

.polos 
{
    position: absolute;
    top: 80px;
    left: 1101px;
    height: 100px;
    width: 100px;
}

.contener_slideshow
{
  width: 610px;
  height: 353px;
  top: 182px;
  left: 387px;
  overflow: hidden;
  position: relative;
}
.slid_1, .slid_2, .slid_3
{
  position: absolute;
  width:610px;
  height:211px;
}
.slid_1{left: 0;}
.slid_2{left: 610px;}
.slid_3{left: 1220px;}
.contener_slide
{
  width: 1220px;
  height: 211px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 20s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 20s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 20s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide 
{
  0% {left:0px;}32% {left:0px;}33% {left:-610px;}65% {left:-610px;}66% {left:-1220px;}100% {left:-1220px;}
}
@-moz-keyframes anim_slide 
{
  0% {left:0px;}32% {left:0px;}33% {left:-610px;}65% {left:-610px;}66% {left:-1220px;}100% {left:-1220px;}
}
@-ms-keyframes anim_slide 
{
  0% {left:0px;}32% {left:0px;}33% {left:-610px;}65% {left:-610px;}66% {left:-1220px;}100% {left:-1220px;}
}
@keyframes anim_slide 
{
  0% {left:0px;}32% {left:0px;}33% {left:-610px;}65% {left:-610px;}66% {left:-1220px;}100% {left:-1220px;}
}






.borderinscription 
{
    position: absolute;
    top: 269px;
    left: 80px;
    width: 1189px;
    height: 1082px;
    background-color: black;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.adresse 
{
    position: absolute;
    width: 388px;
    height: 362px;
    top: 160px;
    left: 650px;
    font-size: 14px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.boutonsign{
    position: absolute;
    top: 941px;
    left: 498px;
    width: 183px;
    height: 43px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
}

.inscription 
{
    position: relative;
    width: 388px;
    height: 362px;
    top: 160px;
    left: 124px;
    font-size: 14px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.membre{
    position: absolute;
    top: 42px;
    left: 436px;
    font-size: 34px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}


#connexion 
{
    position: absolute;
    width: 388px;
    height: 362px;
    top: 1223px;
    left: 472px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
#bouton 
{
    width: 183px;
    height: 43px;
    background-color: black;
    color: white;
    border: none;
}

#bouton:active 
{
    background-color: white;
    color: black;
}
#bouton:hover
{
    background-color: white;
    color: black;
}

.row{
    margin-left: 14px;
}


/*FOOTER */
#footer{
    position: absolute;
    top: 3246px;
    left: 0;
    width: 100%;
    height: 475px;
    background-color: rgba(128, 128, 128, 0.06);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}

#contenu{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
   
}

ul.footer-list li{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    list-style:none;
    margin-left:-40px;
    padding-left:0;
    left: 100px;
}
ul.footer-list p{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    list-style:none;
    margin-left:-40px;
    padding-left:0;
    left: 100px;
}



.item{
    color: rgb(146, 146, 146);

}

.item:hover{
    color: rgba(146, 146, 146, 0.57);
}

#acheter{
    position: absolute;
    top: 28px;
    left: 132px;
}

#infos{
    position: absolute;
    top: 28px;
    left: 378px;
}

#aide{
    position: absolute;
    top: 28px;
    left: 638px;
}

#member{
    position: absolute;
    top: 28px;
    left: 855px;
}

#social{
    position: absolute;
    display: inline;
    top: 200px;
    left: -411px;
}

#h3{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#social li{
    display: inline;
    font-family: "HM Ampersand","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    padding : 0 2em; /* Pour espacer les boutons entre eux */
    }
#social img{
    width: 32px;
    height: 32px;
}

#texte{
    position: absolute;
    top: 262px;
    left: -565px;
}

#texte p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10.3px;
    color: rgb(146, 146, 146);
}

#boutoninscr 
{
    width: 204px;
    height: 45px;
    background-color: white;
    color: black;
    border: none;
    margin-left:-40px;
}

#boutoninscr:active 
{
    background-color: white;
    color: black;
}
#boutoninscr:hover
{
    background-color: rgba(255, 255, 255, 0.69);
    color: black;
}
#logofooter{
    position: relative;
    top: 179px;
    left: -310px;
}

#logofooter img{
    width: 250px;
    height: 105px;
}
